/* from view component */

#button {
	margin-left: 20px;
}

.contact {
	margin-left: 10px
}


/* #image {
	background-image: url("../src/images/nature-3294632_1280.jpg");
	height: 500px;
	  background-position: center;
	  background-repeat: repeat;
	  background-size: cover;
} */

/* from sign component */
#bg {
	background-image: url('../src/images/green-2008580_1280.jpg');
}

body {
	background-image: url('../src/images/recycling.jpg');
}